.home.page-template-page-home {
  section.entry-content {
    figure.wp-block-video {
      margin-bottom: 35px;
      @media screen and (min-width: $screen-mobile ) {
        margin-bottom: 50px;
      }
    }

    p {
      width: 100%;
      padding: 2.5% 10%;
      text-align: center;

      @media screen and (min-width: $screen-mobile ) {
        padding: 1% 25%;
      }

      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }
}
